.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title{
  font-weight: bold;
}

.table_head{
  background-color:#665118;
  color: white;
}
.actionable-icons{
  vertical-align:middle;
  font-size: 2em;
}

.App-link {
  color: #61dafb;
}
.header {
  background: #f4f4f4;
  background-color: #f4f4f4f4;
}

.footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
